@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito.woff2') format('woff2'),
         url('fonts/nunito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('fonts/nunito-bold.woff2') format('woff2'),
         url('fonts/nunito-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
}
  
body > .container {
    padding: 60px 15px 0;
}

/*td .fa-check,*/
td .fa-undo,
td .fa-trash,
td .fa-edit,
td .fa-search {
    color: white;
}

.hamburger {
    padding: 0;
}

.hamburger-box {
    padding-top: 2rem;
}

.hamburger.is-active
.hamburger-inner,
.hamburger.is-active
.hamburger-inner::after,
.hamburger.is-active
.hamburger-inner::before,
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


